<a href="https://colab.research.google.com/github/RazanNotFound/Distributed-Project/blob/main/DistributedProj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CourseAverageGrade").getOrCreate()
sc = spark.sparkContext

file_path = "coursegrades.txt"
rdd = sc.textFile(file_path)

def mapper(line):
    fields = line.split(",")
    course_name = fields[1].strip()
    grade = int(fields[2].strip())
    return (course_name, grade)

mapped_rdd = rdd.map(mapper)

def reducer(values):
    total = sum(values)
    count = len(values)
    return total / count

reduced_rdd = mapped_rdd.groupByKey().mapValues(reducer)

for course, avg_grade in reduced_rdd.collect():
    print(course, avg_grade)

spark.stop()

Data Structures 81.45341614906832
Machine Learning 79.43125
Artificial Intelligence 79.31012658227849
Cyber Security 78.58333333333333
Software Engineering 78.08695652173913
Computer Vision 79.73958333333333

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("UniversityAverageGrade").getOrCreate()
sc = spark.sparkContext

file_path = "coursegrades.txt"
rdd = sc.textFile(file_path)

def mapper(line):
    fields = line.split(",")
    uni_name = fields[3].strip()
    grade = int(fields[2].strip())
    return (uni_name, grade)

mapped_rdd = rdd.map(mapper)

def reducer(values):
    total = sum(values)
    count = len(values)
    return total / count

reduced_rdd = mapped_rdd.groupByKey().mapValues(reducer)

for university, avg_grade in reduced_rdd.collect():
    print(university, avg_grade)

spark.stop()

Stanford University 79.87647058823529
UC Berkeley 78.11242603550296
Oxford University 79.32558139534883
Cambridge University 79.44808743169399
MIT 81.08904109589041
Harvard University 78.975

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Top3GradesPerYear").getOrCreate()
sc = spark.sparkContext

file_path = "coursegrades.txt"
rdd = sc.textFile(file_path)

#mapper function splits the code at every comma
def mapper(line):
    fields = line.split(",")
    year = int(fields[0].strip())  #1st column, so fields[0]
    grade = int(fields[2].strip()) #3rd column, so fields[2]
    return (year, grade) #outputs (year, grade) as key-value pairs

mapped_rdd = rdd.map(mapper)

#reducer function and sort them and reverse to get the highest first and pick the top 3
def reducer(values):
    sorted_values = sorted(values, reverse=True)[:3]  #:3333 hehe
    return sorted_values

reduced_rdd = mapped_rdd.groupByKey().mapValues(reducer)

for year, grade in reduced_rdd.collect():
    print(year, grade) #prints year and grade

spark.stop()

2022 [100, 100, 100]
2024 [100, 100, 100]
2023 [100, 100, 100]